@import "../../../corporative-colors.scss";

.bg-footer {
    background-color: #003c4d;
}
.footer-copyright {
    color: lightgray;
    a {
        color: #fff;
    }
}

.footer-position {
    width: 100%;
    position: absolute;
    bottom: 0;
}

@media (max-width: 766px) {
    .footer-position {
        width: 100%;
        position: unset;
    }
}
